<%= form_for [:admin, @dog] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :breed %>
  <%= f.text_field :breed, class: "form-control" %>

  <%= f.label "Image (URL)" %>
  <%= f.text_field :image, class: "form-control", placeholder: "e.g. https://images.unsplash.com/photo-1497491547929-f290ed8d32fc" %>

  <%= f.label :size %>
  <%= f.select :size, [["Small", "Small"],["Medium", "Medium"], ["Large", "Large"]], {prompt: "Select a size"}, {class: "form-control"} %>

  <%= f.label :weight, "Weight (lbs)" %>
  <%= f.number_field :weight, within: 1..300, class: "form-control", placeholder: "e.g. 50lbs" %>

  <p></p>

  <%= f.label :cat_friendly %>
  <%= f.check_box :cat_friendly %>

  <p></p>


  <%= f.label :gender %>
  <%= f.select :gender, [["Male", "Male"],["Female", "Female"]], {prompt: "Select a gender"}, {class: "form-control"} %>

  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>

  <p></p>

  <%= f.label :category_ids,  "Type" %>
  <%= f.select :category_ids, categories_collection, {}, { :multiple => true} %>

  <p></p>

  <%= f.label :price, "Price ($)" %>
  <%= f.number_field :price, min: 0, class: "form-control", placeholder: "e.g. $50" %>

  <%= f.label :retired %>
  <%= f.check_box :retired %>

  <%= f.submit "Create Dog", class: "btn btn-primary", style: 'float:right; margin-top: 40px; margin-bottom: 40px;'%>
<% end %>
