<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <h4>Manage Dogs</h4>
        <p>Update the status or edit the information for a dog on the platform</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Breed</th>
                <th>Retired</th>
                <th>Edit</th>
                <th>Change Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% @dogs.each do |dog| %>
              <tr>
                <% if dog.image == nil %>
                  <td><img data-src="holder.js/100%x200" alt="100%x200" src= "https://image.ibb.co/nNdMGm/dog_logo.jpg" data-holder-rendered="true" style="height: auto; width: 50px; display: block;"></td>
                <% else %>
                  <td><%= image_tag dog.image, style: "height: 200px; width: 100%; display: block;" %></td>
                <% end %>
                <td><%= link_to "#{dog.name}", dog_path(dog.slug) %></td>
                <td><%= dog.breed %></td>
                <td><%= dog.retired %></td>
                <td><%= link_to "Edit #{dog.name}", edit_admin_dog_path(dog.slug) %></td>
                <td>
                  <%= form_for [:admin, dog] do |f| %>


                    <%= f.check_box :retired %>
                    </td>
                    <td>
                    <%= f.submit "Update Status", class: "btn btn-sm btn-primary" %>

                  <% end %>
                </td>
              </tr>

             <% end %>
            </tbody>
          </table>

        </div>
    </div>
</div>
