<div class="">
  <h1>List a Dog for Adoption</h1>
  <section>
    <%= form_for [:admin, @dog] do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :breed %>
      <%= f.text_field :breed %>

      <%= f.label :image %>
      <%= f.file_field :image %>

      <%= f.label :size %>
      <%= f.select :size, [["Small", "Small"],["Medium", "Medium"], ["Large", "Large"]] %>

      <%= f.label :weight %>
      <%= f.number_field :weight, within: 1..300 %>

      <%= f.label :cat_friendly %>
      <%= f.check_box :cat_friendly %>

      <%= f.label :gender %>
      <%= f.select :gender, [["Male", "Male"],["Female", "Female"]] %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :category_id %>
      <%= f.select :category_id, categories_collection, {}, { :multiple => true, :size => 5 } %>

      <%= f.label :price %>
      <%= f.number_field :price %>

      <%= f.label :retired %>
      <%= f.check_box :retired %>

      <%= f.submit %>
    <% end %>
  </section>
</div>
