<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1> Meet <%= @dog.name %> </h1>
          <p>Explore what makes <%= @dog.name %> unique <p>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-xs-12">



              <div class="thumbnail">
                <img data-src="holder.js/100%x200" alt="100%x200" src= "https://images.unsplash.com/photo-1433162653888-a571db5ccccf?auto=format&fit=crop&w=1500&q=80" data-holder-rendered="true" style="height: auto; width: 100%; display: block;">
                <%= image_tag @dog.image.small %>
                <div class="caption">
                  <div class="statcard wrapper p-a-md">
                    <div>
                      <span class="statcard-desc">Breed</span>
                      <h3 class="statcard-number"><%= @dog.breed %></h3>
                    </div>
                    <div>
                      <span class="statcard-desc">Price</span>
                      <h3 class="statcard-number"><%= number_to_currency(@dog.price) %></h3>
                    </div>
                    <div>
                      <span class="statcard-desc">Size</span>
                      <h3 class="statcard-number"><%= @dog.size %></h3>
                    </div>
                    <div>
                      <span class="statcard-desc">Weight</span>
                      <h3 class="statcard-number"><%= @dog.weight %></h3>
                    </div>
                    <div>
                      <span class="statcard-desc">Like cats?</span>
                      <h3 class="statcard-number"><%= @dog.cat_friendly.to_s.capitalize %></h3>
                    </div>
                    <div>
                      <span class="statcard-desc">Gender</span>
                      <h3 class="statcard-number"><%= @dog.gender%></h3>
                    </div>
                      <% if @dog.retired? %>
                       
                        <p><%= link_to "Dog Retired", "#", :class => "btn btn-primary", style: "float:right; color: white;"%></p>
                        <br>
                      <% else %>
                        <p><%= button_to "Add Dog", carts_path(dog_id: @dog.id), :class => "btn btn-primary", style: "float:right;"%></p>
                      <% end %>
                    <div>
                     

                      <h6>About <%=@dog.name %><h6>
                      <p><%= @dog.description %></p>

                  </div>




                </div>
              </div>




        </div>
    </div>
</div>
