<%= form_with(model: carrierwave_image, local: true) do |form| %>
  <% if carrierwave_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carrierwave_image.errors.count, "error") %> prohibited this carrierwave_image from being saved:</h2>

      <ul>
      <% carrierwave_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :asset %>
  <%= form.file_field :asset %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
