<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Sign up </h1>
          <p>Fill in the form below to create your account or <%= link_to "login", login_path %> if you have an account</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
        
          <%= form_for @user do |f| %>

            <%= f.label :username %>
            <%= f.text_field :username, :class => "form-control" %>

            <%= f.label :password %>
            <%= f.password_field :password, :class => "form-control" %>

            <%= f.label :address %>
            <%= f.text_field :address, :class => "form-control" %>

            <%= f.label :city %>
            <%= f.text_field :city, :class => "form-control" %>

            <%= f.label :state %>
            <%= f.text_field :state, :class => "form-control", maxlength: 2 %>

            <%= f.label :address %>
            <%= f.text_field :address, :class => "form-control" %>

            <%= f.label :zipcode %>
            <%= f.number_field :zipcode, :class => "form-control", max: 99999 %>

            <%= f.label "Full Name" %>
            <%= f.text_field :name, :class => "form-control" %>

            <%= f.submit 'Create Account ', :class => 'btn btn-sm btn-primary',style: 'float:right; margin-top: 40px;' %>
          <% end %>

           </div>
         <div class="col-md-offset-2 col-md-4">
         <p></p>
          <div class="thumbnail" style="margin-top: 26px;">
            <img src="https://image.ibb.co/bRqhrm/undraw_setup_obqo.png" alt="...">
          </div>

        
        
        </div>
    </div>
</div>



        </div>
    </div>
</div>
