<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Profile - <%= current_user.username %><h1>
          <p>Manage your cart and orders below</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4" style="padding-left: 10px;">
          <span class="label label-primary">  <%= link_to "View Your Cart", cart_path, style: "color: white;" %></span>
          <span class="label label-primary">  <%= link_to "View Orders", orders_path, style: "color: white;" %></span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</div>  
<div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
         
            <div class="col-sm-4"style="padding-left: 0px;">
              <div class="statcard statcard-primary p-a-md">
              <span class="statcard-desc">Name</span>
                <h3 class="statcard-number">
                  <%= current_user.name.capitalize %>
                </h3> 
              </div>
            </div>
     
            <div class="col-sm-8">
              <div class="statcard statcard-primary p-a-md">
               <span class="statcard-desc">Address</span>
                <h3 class="statcard-number">
                  <%= current_user.address.capitalize %>
                </h3>
              </div>
            </div>

        </div>
    </div>
</div>







        
        





