<h1>Order <%= @order.id %></h1>

  Purchaser Name: <%= @order.user.name %>
  Purchaser Address: <%= @order.user.address %>
  Order Date: <%= @order.created_at %>
  Order Status: <%= @order.status %>

  <% total = 0 %>
  <% @order.order_dogs.each do |order_dog|%>
    Dog Name: <%= link_to "#{order_dog.dog.name}", dog_path(order_dog.dog.slug) %>
    Quantity: <%= order_dog.quantity %>
    Price: $<%= order_dog.dog.price %>.00
    Subtotal: $<%= total += order_dog.quantity.to_i  * order_dog.dog.price %>.00

    <% if order_dog.order.completed? %>
      Updated at:<%= order_dog.order.updated_at %>
    <% end %>

  <% end %>

Order Total: $<%= total %>.00
