<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Your Cart</h1>
          <p>View your dogs and checkout when you're ready<p>
        </div>
    </div>
</div>



<% @cart.contents.each do |dog_id, quantity| %>
<% dog = @cart.find_dog(dog_id) %>
<div class="container">
    <div class="row">
        <div class="col-xs-12">

          <div class="panel panel-default">
            <div class="panel-heading"><%= dog.name %></div>
              <div class="panel-body">

                  <div class="media">

                    <div class="media-left media-middle">
                      <a href="#">
                        <% if dog.image == nil %>
                          <td><img data-src="holder.js/100%x200" alt="100%x200" src= "https://image.ibb.co/nNdMGm/dog_logo.jpg" data-holder-rendered="true" style="height: 50px; width: 50px; display: block;"></td>
                        <% else %>
                          <td><%= image_tag dog.image, style: "height: 50px; width: 50px; display: block;" %></td>
                        <% end %>                      </a>
                    </div>



                    <div class="media-body">
                      <p><%= button_to "Remove Dog", cart_path(dog_id: dog.id), :class => 'btn btn-sm btn-warning', method: :delete, style: 'float:right;' %></p>

                      <p>Breed: <%= dog.breed %></p>
                      <p>Price: <%= number_to_currency(dog.price) %></p>
                      <%= form_tag(cart_path, method: :put) do %>
                        <%= label_tag "Quantity" %>
                        <%= number_field_tag("quantity", "#{quantity}", min: 1) %>
                        <%= hidden_field_tag :dog_id, dog.id %>
                        <%= submit_tag("Update Quantity", :class => 'btn btn-sm btn-primary') %>
                      <% end %>
                      <p>Subtotal: <%= number_to_currency(dog.price * quantity) %></p>
                    </div>

              </div>
            </div>
          </div>



        </div>
    </div>
</div>
<% end %>


<div class="container">
    <div class="row">
        <div class="col-xs-12">

        <div class="statcard p-a-md">
          <h3 class="statcard-number"><%=number_to_currency(@cart.total_price) %></h3>
          <span class="statcard-desc">Total Price</span>
        </div>


        </div>
    </div>
</div>

<% if logged_in? == false %>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <p><%= link_to "Login or Create Account to Checkout", login_path, style: "float:right;"  %></p>
        </div>
    </div>
</div>
<% else %>

  <% if @cart.contents.present? %>
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
            <p>
            <%= button_to "Checkout", orders_path, :class => 'btn btn-primary', style: "float:right;" , method: :post %>
            </p>
          </div>
      </div>
    </div>
  <% else %>
    <div class="">

    </div>
  <% end %>

<% end %>
