<% @cart.contents.each do |dog_id, quantity| %>
  <% dog = @cart.find_dog(dog_id) %>
  Quantity: <%= quantity %>
  Name: <%= dog.name %>
  Breed: <%= dog.breed %>
  Price: <%= dog.price %>
  <%= image_tag("https://images.unsplash.com/photo-1433162653888-a571db5ccccf?auto=format&fit=crop&w=1500&q=80") %>
<% end %>

<h2>Total Price</h2>
<p> <%= @cart.total_price %> </p>