<% @cart.contents.each do |dog_id, quantity| %>
  <% dog = @cart.find_dog(dog_id) %>
  <%= image_tag("https://images.unsplash.com/photo-1433162653888-a571db5ccccf?auto=format&fit=crop&w=1500&q=80", class: "thumbnail") %>
  <%= form_tag(cart_path, method: :put) do %>
    <%= label_tag "Quantity" %>
    <%= number_field_tag("quantity", "#{quantity}") %>
    <%= hidden_field_tag :dog_id, dog.id %>
    <%= submit_tag("Update Quantity") %>
  <% end %>
  Name: <%= dog.name %>
  Breed: <%= dog.breed %>
  Price: <%= dog.price %>
  Subtotal: <%= dog.price * quantity %>
  <%= button_to "Remove Dog", cart_path(dog_id: dog.id), method: :delete %>
<% end %>

<h2>Total Price</h2>
<p> <%= @cart.total_price %> </p>
