<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <h1><%= @category.title %></h1>
        <p>Browse our selection of <%= @category.title.downcase %> dogs </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <p></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <p></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">

          <div class="row">

            <% @category.dogs.each do |dog| %>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img data-src="holder.js/100%x200" alt="100%x200" src= "https://images.unsplash.com/photo-1433162653888-a571db5ccccf?auto=format&fit=crop&w=1500&q=80" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                  <h3 id="thumbnail-label"><%= dog.name %></h3>
                  <p>Breed: <%= dog.breed %></p>
                  <p>Price: $<%= dog.price %>.00</p>
                  <div style="display:flex;">
                    <p><%= link_to "View Dog", dog_path(dog.slug),:class => "btn btn-xs btn-info", style: "margin-right:10px;" %></p>
                    <p><%= button_to "Add Dog", carts_path(dog_id: dog.id), :class => "btn btn-xs btn-primary"%></p>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
           

          </div>


        
        </div>
    </div>
</div>













