<h1>Admin Dashboard</h1>
<%= current_user.username %>
<%= current_user.name %>
<%= current_user.address %>
<%= current_user.role %>

<%= link_to "View All Dogs Table", admin_dogs_path %>

<%= link_to "Edit Account", edit_admin_user_path(current_user) %>

Ordered: <%= Order.count_status["Ordered"] %>
Paid: <%= Order.count_status["Paid"] %>
Canceled: <%= Order.count_status["Canceled"] %>
Completed: <%= Order.count_status["Completed"] %>



<% @orders.each do |order| %>
  <%= link_to "Order #{order.id}", order_path(order) %>
  <%= order.status %>
  <% if order.status == "Paid" || order.status == "Ordered" %>
    <%= link_to "Cancel", admin_order_path(order, :order => {status: "Canceled"}), method: :put, confirm: "Are you sure?" %>
  <% end %>
  <% if order.status == "Ordered" %>
    <%= link_to "Mark as Paid", admin_order_path(order, :order => {status: "Paid"}), method: :put, confirm: "Are you sure?" %>
  <% end %>
  <% if order.status == "Paid" %>
    <%= link_to "Mark as Completed", admin_order_path(order, :order => {status: "Completed"}), method: :put, confirm: "Are you sure?" %>
  <% end %>
<br>
<% end %>
