<h1>Admin Dashboard</h1>
<%= current_user.username %>
<%= current_user.name %>
<%= current_user.address %>
<%= current_user.role %>

<%= link_to "View All Dogs Table", admin_dogs_path %>

<%= link_to "Edit Account", edit_admin_user_path(current_user) %>
